:root {
  --border-color: #21232300;
  --error-color: #f18a8a;
  --focus-color: #646cff;
  --item-bg-color: #eaeaea;
  --page-bg-color: #f8f9fa;
  --text-default: #212323;

  background-color: var(--page-bg-color);
  color: var(--text-default);
  color-scheme: light dark;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  line-height: 1.5;
  font-weight: 400;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: dark) {
  :root {
    --border-color: #dacebe5a;
    --error-color: #923737;
    --item-bg-color: #0e0e0e;
    --page-bg-color: #1f1e1c;
    --text-default: #dacebe;
  }

  img.logo {
    filter: sepia(50%);
    filter: brightness(75%);
  }
}

a {
  align-items: center;
  display: flex;
  font-weight: 500;
  gap: 0.5rem;
  color: var(--focus-color);
  text-decoration: inherit;
}

a:focus,
a:focus-visible,
button:focus,
button:focus-visible,
button:hover {
  outline: none;
  box-shadow: 0 0 0 2px var(--focus-color);
}

a:hover {
  color: #46cea9;
}

#about {
  height: 50vmin;
  resize: none;
  width: min(80vmin, 400px);
}

body {
  align-content: stretch;
  margin: 0;
  display: grid;
  min-width: 320px;
  min-height: 100vh;
}

button {
  background-color: var(--item-bg-color);
  border-radius: 8px;
  border: 1px solid var(--border-color);
  color: var(--text-default);
  cursor: pointer;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  padding: 0.6em 1.2em;
  transition: border-color 0.25s;
}

.card {
  padding: 2em;
}

.errorMessage {
  background-color: var(--error-color);
  border-radius: 0.25rem;
  display: grid;
  gap: 1vh;
  justify-content: center;
  margin: 0.5rem auto;
  padding: 0.5rem 1.75rem;
  width: fit-content;
}

.errorMessage * {
  margin: 0;
  padding: 0;
}

li {
  text-align: left;
}

footer {
  background-color: var(--item-bg-color);
  padding: 0.1rem 0;
}

form {
  display: grid;
  gap: 1vh;
  justify-items: center;
}

form * {
  display: grid;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

header {
  align-content: center;
  align-items: center;
  background-color: var(--item-bg-color);
  display: flex;
  justify-content: space-between;
  justify-items: center;
  padding: 0.25rem 0.5rem;
}

header > button {
  align-items: center;
  border-color: #00000000;
  border-radius: 0.2rem;
  display: flex;
  gap: 0.25rem;
  padding: 0.1rem 0.2rem;
}

header img {
  display: grid;
  height: 2rem;
  width: auto;
}

.icon {
  color: var(--text-default);
}

label {
  display: grid;
  justify-items: start;
}

main {
  display: grid;
}

main > div {
  align-items: center;
  display: grid;
  padding: 0 1vw;
}

main hr {
  border: 1px solid var(--text-default);
  opacity: 40%;
  width: 80%;
}

p {
  display: flex;
  gap: 0.25rem;
  justify-content: center;
}

#root {
  align-content: space-between;
  display: grid;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  min-height: 100vh;
  min-height: 100dvh;
  width: 100vw;
}

.wideScreenOnly {
  display: none;
}

@media (min-width: 520px) {
  main {
    grid-template-columns: 1fr 1fr;
  }

  .wideScreenOnly {
    display: block;
  }
}
