:root {
  --border-color: #21232300;
  --error-color: #f18a8a;
  --focus-color: #4d54e3;
  --item-bg-color: #eaeaea;
  --page-bg-color: #f8f9fa;
  --success-color: #6dcd79;
  --text-default: #212323;

  --nav-negative: max(-80vw, -200px);
  --nav-positive: min(80vw, 200px);
  --standard-gap: 0.5rem;

  background-color: var(--page-bg-color);
  color: var(--text-default);
  color-scheme: light dark;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  line-height: 1.5;
  font-weight: 400;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: dark) {
  :root {
    --border-color: #dacebe5a;
    --error-color: #923737;
    --item-bg-color: #000000;
    --page-bg-color: #322f2b;
    --text-default: #dacebe;
  }

  img.logo {
    filter: sepia(50%);
    filter: brightness(75%);
  }
}

a {
  align-items: center;
  display: flex;
  font-weight: 500;
  gap: 0.5rem;
  color: var(--focus-color);
  text-decoration: underline;
}

a:focus,
a:focus-visible,
button:focus,
button:focus-visible,
button:hover {
  outline: none;
  box-shadow: 0 0 0 2px var(--focus-color);
}

a:hover {
  color: #46cea9;
}

#about {
  height: 50vmin;
  resize: none;
  width: min(80vmin, 400px);
}

body {
  align-content: stretch;
  margin: 0;
  display: grid;
  min-width: 320px;
  min-height: 100vh;
}

button {
  background-color: var(--item-bg-color);
  border-radius: 8px;
  border: 1px solid var(--border-color);
  color: var(--text-default);
  cursor: pointer;
  display: grid;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  padding: 0.6em 1.2em;
  place-items: center;
  transition: border-color 0.25s;
}

button.liked svg {
  fill: var(--success-color);
}

button.sidebarButton {
  background-color: #00000000;
  border-radius: 0px;
  border-width: 0px;
  display: flex;
  gap: 1rem;
  place-content: center;
  place-items: center;
}

button.sidebarButton + hr {
  margin: 0 0 0 5%;
  opacity: 50%;
  width: 80%;
}

button.sidebarButton svg {
  stroke: var(--text-default);
}

button.toggle {
  background-color: #00000000;
  border-color: #00000000;
  border-radius: 50%;
  padding: 0;
  position: absolute;
  right: -29px;
  top: 0;
}

button.toggle > svg {
  stroke: var(--text-default);
}

.card {
  padding: 2em;
}

div.childComments {
  border-bottom: 1px solid var(--text-default);
  border-left: 1px solid var(--text-default);
  border-radius: 0 0 0.25rem 0.25rem;
  border-right: 1px solid var(--text-default);
  display: grid;
  gap: var(--standard-gap);
  justify-content: center;
  padding: 0 1vw var(--standard-gap) 1vw;
}

div.childComments button {
  padding: 0.5rem 0.75rem;
}

div.childComments button svg {
  height: 1rem;
  width: auto;
}

.errorMessage {
  background-color: var(--error-color);
  border-radius: 0.25rem;
  display: grid;
  gap: 1vh;
  justify-content: center;
  margin: 0.5rem auto;
  padding: 0.5rem 1.75rem;
  width: fit-content;
}

.errorMessage * {
  margin: 0;
  padding: 0;
}

li {
  text-align: left;
}

footer {
  background-color: var(--item-bg-color);
  padding: 0.1rem 0;
}

form {
  display: grid;
  gap: 1vh;
  justify-items: center;
}

form * {
  display: grid;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

header {
  align-content: center;
  align-items: center;
  background-color: var(--item-bg-color);
  display: flex;
  justify-content: space-between;
  justify-items: center;
  padding: 0.25rem 0.5rem;
}

header > button {
  align-items: center;
  border-color: #00000000;
  border-radius: 0.2rem;
  display: flex;
  gap: 0.25rem;
  padding: 0.1rem 0.2rem;
}

header img {
  display: grid;
  height: 2rem;
  width: auto;
}

.icon {
  color: var(--text-default);
}

label {
  display: grid;
  justify-items: start;
}

main {
  align-items: start;
  display: grid;
  flex-grow: 1;
  gap: 1vh;
  justify-content: center;
  padding: 2vh 0;
  position: relative;
}

main * {
  max-width: 1500px;
}

main.singleColumn {
  grid-template-columns: 1fr;
}

main > div {
  align-items: center;
  display: grid;
  padding: 0 1vw;
}

main hr {
  border: 1px solid var(--text-default);
  opacity: 40%;
  width: 80%;
}

nav {
  align-content: start;
  align-items: start;
  background-color: var(--page-bg-color);
  filter: sepia(15%);
  border-right: 1px solid var(--text-default);
  box-sizing: border-box;
  display: grid;
  flex-shrink: 0;
  height: 100%;
  justify-content: start;
  justify-items: start;
  padding: 3px;
  position: relative;
  width: var(--nav-positive);
}

nav.noToggle {
  left: 0;
}

nav.toggled {
  left: var(--nav-negative);
  position: absolute;
  transition: ease-in-out 0.5s;
  z-index: 1;
}

nav.toggled.shown {
  transform: translateX(var(--nav-positive));
}

nav.toggled.shown > button.toggle {
  transform: rotate(45deg);
}

p {
  display: flex;
  gap: 0.25rem;
  justify-content: center;
}

p.createPostMessage {
  display: inline-block;
}

p.createPostMessage a {
  display: inline;
}

.post {
  border: 1px solid var(--text-default);
  border-radius: 0.25rem;
  display: grid;
  gap: var(--standard-gap);
  justify-content: stretch;
  justify-items: stretch;
  padding: var(--standard-gap);
}

.post div.buttons {
  display: flex;
  gap: min(400px, 2vw);
  justify-content: center;
}

.post div.comments {
  display: grid;
  justify-content: stretch;
  justify-items: center;
  padding: var(--standard-gap);
}

.post div.comments > div {
  display: grid;
  justify-items: center;
  gap: var(--standard-gap);
}

.post div.comments textarea {
  border: 1px solid var(--text-default);
  border-radius: 0.25rem;
  justify-self: stretch;
  padding: 0.25rem;
}

.post div.comments textarea.short {
  height: 1rem;
}

.post div.comments textarea.tall {
  height: min(200px, 30vh);
}

.post > div:first-child {
  display: grid;
  gap: var(--standard-gap);
}

.post div.date,
.post div.name {
  display: grid;
  justify-content: start;
  justify-self: start;
}

.post div.name {
  font-weight: bold;
}

.post div.text {
  justify-self: center;
  padding: 0 1rem;
  text-align: left;
}

.post > div:nth-child(2) {
  display: flex;
  gap: min(500px, 12vw);
  justify-content: center;
}

.post button {
  display: flex;
  gap: var(--standard-gap);
}

.postContainer {
  display: grid;
  gap: 1vh;
  position: relative;
}

textarea {
  resize: none;
}

textarea.post {
  height: min(500px, 50vh);
  width: min(700px, 80%);
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  min-height: 100vh;
  min-height: 100dvh;
  width: 100vw;
}

#root > div {
  align-self: stretch;
  display: flex;
  flex-grow: 1;
  position: relative;
}

#root div#error-page {
  align-content: center;
  align-items: center;
  background-color: var(--error-color);
  display: grid;
}

.success {
  display: grid;
  justify-content: center;
  padding: 1vh 0;
}

.success > * {
  background-color: var(--success-color);
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
}

.wideScreenOnly {
  display: none;
}

@media (min-width: 520px) {
  main.twoColumn {
    grid-template-columns: 1fr 1fr;
  }

  .wideScreenOnly {
    display: block;
  }
}
